<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.danielgunawan.iosFramework</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.frameworkBase</string>
        <string>com.apple.dt.unit.languageChoice</string>
        <string>com.apple.dt.unit.iosBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template creates a framework.</string>
    <key>SortOrder</key>
    <integer>1</integer>
    <key>AssociatedTargetSpecification</key>
    <dict>
        <key>PopUpTitle</key>
        <string>Embed in Application:</string>
        <key>PopUpDescription</key>
        <string>The application target that will host this new framework. The application will be set up to link to and embed the new framework.</string>
        <key>AllowableProductTypes</key>
        <array>
            <string>com.apple.product-type.application</string>
            <string>com.apple.product-type.application.messages</string>
        </array>
        <key>AllowablePlatforms</key>
        <array>
            <string>com.apple.platform.iphoneos</string>
        </array>
        <key>AssociatedTargetIsDependent</key>
        <true/>
        <key>AssociatedTargetNeedsProductBuildPhaseInjection</key>
        <true/>
    </dict>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>hasUnitTests</string>
            <key>Name</key>
            <string>Include Unit Tests</string>
            <key>NotPersisted</key>
            <false/>
            <key>SortOrder</key>
            <integer>100</integer>
            <key>Type</key>
            <string>checkbox</string>
            <key>Default</key>
            <string>true</string>
            <key>Units</key>
            <dict>
                <key>true</key>
                <dict>
                    <key>Components</key>
                    <array>
                        <dict>
                            <key>Identifier</key>
                            <string>com.danielgunawan.iosFrameworkUnitTestBundle</string>
                            <key>Name</key>
                            <string>___PACKAGENAME___Tests</string>
                        </dict>
                    </array>
                </dict>
            </dict>
        </dict>
    </array>
    <!-- dg template start -->
    <key>Nodes</key>
    <array>
        <string>Configurator/___PACKAGENAME___Configurator.swift</string>
        <string>Constant/___PACKAGENAME___Constants.swift</string>
        <string>Constant/___PACKAGENAME___LocalizedKeys.swift</string>
        <string>Model/___PACKAGENAME___ViewModel.swift</string>
        <string>Scene/Placeholder.swift</string>
        <string>Wireframe/___PACKAGENAME___Wireframe.swift</string>
        <string>Assets.xcassets</string>
    </array>
    <!-- dg template end -->
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.iosLibraryOrFrameworkTarget</string>
            <key>SharedSettings</key>
            <dict>
                <key>LD_RUNPATH_SEARCH_PATHS</key>
                <string>$(inherited) @executable_path/Frameworks @loader_path/Frameworks</string>
            </dict>
        </dict>
    </array>
    <key>Definitions</key>
    <dict>
        <key>___TARGETNAME:c99ExtIdentifier___.h</key>
        <dict>
            <key>TargetIdentifiers</key>
            <array>
                <string>com.apple.dt.iosLibraryOrFrameworkTarget</string>
            </array>
            <key>BuildAttributes</key>
            <array>
                <string>Public</string>
            </array>
        </dict>
        <!-- dg template start -->
        <key>Configurator/___PACKAGENAME___Configurator.swift</key>
        <dict>
            <key>Group</key>
            <string>Configurator</string>
            <key>Path</key>
            <string>Configurator/___PACKAGENAME___Configurator.swift</string>
        </dict>
        <key>Constant/___PACKAGENAME___Constants.swift</key>
        <dict>
            <key>Group</key>
            <string>Constant</string>
            <key>Path</key>
            <string>Constant/___PACKAGENAME___Constants.swift</string>
        </dict>
        <key>Constant/___PACKAGENAME___LocalizedKeys.swift</key>
        <dict>
            <key>Group</key>
            <string>Constant</string>
            <key>Path</key>
            <string>Constant/___PACKAGENAME___LocalizedKeys.swift</string>
        </dict>
        <key>Model/___PACKAGENAME___ViewModel.swift</key>
        <dict>
            <key>Group</key>
            <string>Model</string>
            <key>Path</key>
            <string>Model/___PACKAGENAME___ViewModel.swift</string>
        </dict>
        <key>Scene/Placeholder.swift</key>
        <dict>
            <key>Group</key>
            <string>Scene</string>
            <key>Path</key>
            <string>Placeholder.swift</string>
        </dict>
        <key>Wireframe/___PACKAGENAME___Wireframe.swift</key>
        <dict>
            <key>Group</key>
            <string>Wireframe</string>
            <key>Path</key>
            <string>Wireframe/___PACKAGENAME___Wireframe.swift</string>
        </dict>
        <key>Assets.xcassets</key>
        <dict>
            <key>Path</key>
            <string>Assets.xcassets</string>
        </dict>
        <!-- dg template end -->
    </dict>
</dict>
</plist>
